
STAGE=dev

DB_PASSWORD = Micontra123
DB_NAME = TesloDB
DB_HOST = localhost
DB_PORT = 5432
DB_USERNAME = postgres

PORT = 3000
HOST_API = http://localhost:3000/api

JWT_SECRET = secreto
JWT_EXPIRES_IN = 2h